body{
    background-color: #eee;
    font-family: sans-serif;
}

Header{
    background-color: #A1D6B2;
}

.Main{
    padding-bottom: 1px;
    background-color: #CEDF9F;

}

.Underrubrik{
    padding-bottom: 1px;
    background-color: #F1F3C2;
}