body{
    background-color: #eee;
    font-family: sans-serif;
    font-size: large;
}

Header{
    background-color: #A1D6B2;
}

.Måndag{
    padding-bottom: 1px;
    background-color: #CEDF9F;

}

.Tisdag{
    padding-bottom: 1px;
    background-color: #CEDF9F;
}

.Onsdag{
    padding-bottom: 1px;
    background-color: #CEDF9F;
}

.Torsdag{
    padding-bottom: 1px;
    background-color: #CEDF9F;
}

.Fredag{
    padding-bottom: 1px;
    background-color: #CEDF9F;
}